Celebal Technologies

Assignmnet-1


Name-Mukti Singh

CT ID:CT_CSI_DS_6517

Batch-2

Data Science

Print the Triangle pattern

Create lower triangular, upper triangular and pyramid containing the "*" character.

In [4]:
#Lower Triangular
n = 5
for i in range(1, n + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [2]:
#Upper Triangular
n = 5
for i in range(n, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*

In [3]:
#Pyramid Triangular
n = 5
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *